.em,.em-svg {
    height: 1.5em;
    width: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle
}

.em-movie_camera {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f3a5.png")
}

.em-movie_camera.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f3a5.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f3a5.svg"),none
}

.em-hot_pepper {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f336.png")
}

.em-hot_pepper.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f336.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f336.svg"),none
}

.em-computer {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f4bb.png")
}

.em-computer.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f4bb.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f4bb.svg"),none
}

.em-earth_asia {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f30f.png")
}

.em-earth_asia.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f30f.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f30f.svg"),none
}

.em-beer {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f37a.png")
}

.em-beer.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f37a.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f37a.svg"),none
}

.em-grinning {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f600.png")
}

.em-grinning.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f600.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f600.svg"),none
}

.em-clap {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f44f.png")
}

.em-clap.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f44f.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f44f.svg"),none
}

.em-brain {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f9e0.png")
}

.em-brain.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f9e0.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f9e0.svg"),none
}

.em-rocket {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f680.png")
}

.em-rocket.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f680.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f680.svg"),none
}
.em-trophy {
    background-image: url("https://twemoji.maxcdn.com/2/72x72/1f3c6.png")
}

.em-trophy.em-svg {
    background: url("https://twemoji.maxcdn.com/2/72x72/1f3c6.png");
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f3c6.svg"),none
}
