body {
  font-family: 'Raleway', sans-serif;
  background: white;
  margin: 0;
  min-width:680px;
}

* {
  box-sizing: border-box
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*JUMBOTRON*/
.jumbotron {
  margin-bottom: 0px !important; /*no bottom margin*/
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron-text {
  width:530px;
  color: black;
  text-align: center;
  padding-top: 150px;
}

.jumbotron-text h1 {
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  color: dimgray;
  padding: 20px;
}

/*CONTENT*/
.container-fluid {
  display: flex;
  flex-direction: column;
}

.side-content {
  flex: 0 0 30%;
}

.main-content {
  flex: 0 0 40%;
  margin-top: 2rem !important;
  margin-bottom: 3rem;
  max-width: 800px;
}

h2 {
  font-weight: 600;
  color: #555;
  text-transform: uppercase;
  text-align: center;
}

.content-body {
  padding: 60px 0px 120px;
  line-height: 1.5;
  color: rgba(0,0,0,.75);
}

/*EDUCATION*/
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 30px;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.075);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.card-content {
  padding: .25rem 1.25rem;
  flex: 1 1 auto;
}

h4 {
  margin: 0;
  font-weight: 400;
  color: grey;
}

.job-title {
  float: right;
}

/*PROJECTS*/
.project-card {
  margin-bottom: 60px;
  padding-bottom: 40px;
}

.project-image {
  display:flex;
  flex-direction: row;
  flex: 1 0 auto;
  padding: 0px 20px 20px;
  margin-top: 20px;
}

.project-image img {
  width: 101px;
  margin-right:20px;
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  flex: 1 0 content;
  cursor: pointer;
}

.project-content {
  flex: 1 1 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: justify;
  font-size: 14px;
}

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

ul{
  list-style: none;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: linear-gradient(135deg,#aaa,#999);
  background-size: 100% 100%;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
  font-weight: 400;
}

/*CONTACT*/
.formBG {
  background: linear-gradient(135deg,#aaa,#666);
  background-size: 100% 100%;
  text-align: center;
  padding: 60px 0px;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.contact input, .contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #fff;
  color: #000;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.contact textarea {
  height: 150px;
  resize: none;
}

.contact button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #000;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.white-text {
  color: white;
}


/* Font size */
@media (max-width: 768px) {
  html {
    font-size: 0.7rem;
  }

  h2{
    font-size: 1.3rem;
  }

  .jumbotron-text {
    font-weight: 500;
    font-size: 1.7rem;
    width: 390px;
  }

  .jumbotron-text h1 {
    font-weight: 300;
  }

  .jumbotron-text p {
    font-weight: 300;
    font-size: 2.5rem; 
  }

  #whoIam {
    font-weight: 300;
    font-size: 2.5rem; 
  }

  .social {
    font-size: 1rem;
  }

  .main-content {
    flex: 0 0 90% !important;    
    margin:0px auto;
  }
}

@media (min-width: 769px) { 
  html {
    font-size: 1rem;
  }

  h2{
    font-size: 2rem;
  }

  .jumbotron-text {
    font-weight: 400;
    font-size: 3.2rem;
  }

  .jumbotron-text h1 {
    font-weight: 300;
  }

  .jumbotron-text p {
   font-weight: 300;
    font-size: 2.5rem; 
  }

  #whoIam {
    font-weight: 300;
    font-size: 2.5rem; 
  }

  .social {
    margin-top:2em;
    font-size: 1.2rem;
  }

  .side-content{
    flex: 0 0 20%;
  }

  .main-content {
    flex: 0 0 60%;
    margin:0px auto;
  }

  .about-box > .main-content{
    flex: 0 0 80%;
  }
}

@media (min-width: 1300px) { 
  html {
    font-size: 1rem;
  }

  h2{
    font-size: 2rem;
  }

  .jumbotron-text {
    width:530px;
    font-weight: 300;
    font-size: 2.5rem;
  }

  .jumbotron-text h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .jumbotron-text p {
    font-weight: 400;
    font-size: 2.5rem; 
  }

  #whoIam {
    font-weight: 400;
    font-size: 2.5rem;
  }

  .social {
    margin-top:2em;
    font-size: 1.5rem;
  }

  .side-content{
    flex: 0 0 30%;
  }

  .main-content {
    flex: 0 0 40%;
    margin:0px auto;
  }
}

.jumbotron-social {
  margin-top: 4em;
  margin-bottom: 100px;
}

.em{
  margin-right: 15px;
  height: 2.5em;
  opacity: 0.75;
}

.horitzontal-ruler{
  width:60%;
  height:3px;
  background-color:#000;
  margin:0px auto;
}

a{ 
  color: #000;
  text-decoration: underline;
}

.emphasis {
  font-weight:600;
  color:black;
}

.aboutme__text {
  column-count:2;
  column-gap: 50px; 
  font-size: 16px;
}

.aboutme__emoticons {
  column-count:2;
  column-gap:50px;
  font-size:14px;
  margin-bottom: 30px;
  padding-bottom: 150px;
}

.civiciti__logo {
  width:110px;
  margin-bottom:10px;
}

.project-text {
  margin-top: 20px;
}

.title__emphasis {
  font-size: 13px;
  font-weight:600;
}

.right__emoticon {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  float: right; 
  margin-left: auto;
  margin-top:-60px;
  margin-bottom:50px;
}

.main-skills{
  margin:30px auto 120px;
}

.img__v100 {
  height:100px !important;
}

.project-card-last{
  margin-bottom:30px !important;
  padding-bottom:0px !important;
}

.success,.error {
  text-align:center;
  font-size: 1.5em;
  color:#fff;
  display: none;
  margin: 120px 0px,
}